In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import math
import feather
from matplotlib import pyplot as plt
import seaborn as sns
ca_df = pd.read_feather("C:/Attrition/2007-2018.feather", columns=None, use_threads=True)
ca_df.head()
ca_df.shape
ca_df.describe()

,HRECORD,H_SEQ,HHPOS,HUNITS,HEFAMINC,H_RESPNM,H_YEAR,H_HHTYPE,H_NUMPER,HNUMFAM,...,HPROP_VAL,THPROP_VAL,I_PROPVAL,HRNUMWIC,HRWICYN,HFDVAL,TCARE_VAL,CARE_VAL,I_CAREVAL,HPRES_MORT
count,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205,...,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205,1130205
unique,1,99461,1,6,19,16,12,3,17,14,...,2106,6,2,6,3,2970,2,2282,2,3
top,1,21021,00,1,-1,01,2015,1,00,01,...,00000000,0,0,00,0,00000,0,000000,0,0
freq,1130205,12,1130205,634772,247293,726543,99461,861291,268914,744646,...,731597,1125699,1037953,1100997,784839,1051634,1128853,572708,1118270,767904